<button  (click)=loadMovies()>load movies</button>

<div *ngFor="let movie of movies$ | async">
  {{ movie.name }}
</div>


<div *ngIf="loading$ | async">loading ...</div>


<!--<router-outlet></router-outlet>-->
